# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# DS files
*.DS_Store

# csv files
/Analyses/*.csv
/Analyses/Gap_Filled/*.csv
/Analyses/ThrIndS/*.csv
/Analyses/Consecutive_Dry_Annual/*.csv
/Analyses/Consecutive_Dry_Decadal/*.csv
/Analyses/Consecutive_Dry_Decadal_Moving/*.csv
/Analyses/Consecutive_Dry_Whole/*.csv
/Analyses/CDP/*.csv
/Analyses/R01PS/*.csv
/Analyses/R05PS/*.csv
